.sign-in {
  margin-top: 13vh;
  border: 5px solid black;
  width: 60vw;
  margin: 0 auto;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
}

.googleIcon {
  height: 12px;
  width: 12px;
  margin-right: 4px;
}
